@using CEverett.ViewModels
@model PostViewModel

<article class="post">
    @if(!string.IsNullOrEmpty(Model.Splash)) 
    {
        <div class="splash">
            <a href="@(Model.Splash + "#unpop")"></a>
        </div>
    }
    <header>
        @Html.Partial("_PostTweetButton", Model.Title)
        <h2 class="title">@Model.Title</h2>
        <div class="byline">
        	<a class="author" href="/about">Caleb Everett</a>
            <span class="date">
        		@Model.PostDateTime.ToShortDateString()
        	</span>
        </div>
    </header>
    <div class="container">
    	<div class="content">
    		@Html.Raw(Model.Content)
    	</div>
        
    	@Html.Partial("_PostFooter", Model)
    </div>
</article>
